li[class] {             /*for selecting the li with class */
    font-size: 200%;
}

li[class="a"]               /*for selecting a particular attribute with the similar class*/
{
    color: brown;
    font-size: 300%;
}

li[class~="a"] /*Tilde is used to select all the thngs which has a class. */
{
    color: yellow;
}