li[class] {             /*for selecting the li with class */
    font-size: 200%;
}

li[class="a"]               /*for selecting a particular attribute with the similar class*/
{
    color: brown;
    font-size: 300%;
}