.special
{
  color: orange;
  font-weight: bold;
}

.special2
{                     /*here it will select the class special2*/
color: blue;

}

.list2                  /*Here it will select the class list2*/
{
  color: blueviolet;
}


h1+p {                        /*Here it will selcect the p tag which is just below the h1 tag */
  color: chartreuse;
}

a:hover{                     /*Here the a tag will get the hover property*/
  color: red;
}

h1+p .special3 {
  color: yellow;
  background-color: blueviolet;
  padding: 5px;
}