.special
{
  color: orange;
  font-weight: bold;
}

.special2
{                     /*here it will select the class special2*/
color: blue;

}

.list2                  /*Here it will select the class list2*/
{
  color: blueviolet;
}


h1+p {                        /*Here the 
  color: chartreuse;
}

a:hover{                     /*Here the a tag will get the hover property*/
  color: red;
}